body {
  padding: 0;
  margin: 0;
}

.trybewarts-login {
  display: flex;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  align-items: center;
  justify-content: space-between;
}

.trybewarts-header-logo {
  height: 80px;
}

main {
  display: flex;
  width: 675px;
}

#evaluation-form {
  display: flex;
  width: 675px;
  height: 500px;
  flex-direction: column;
}

#trybewarts-forms-logo {
  height: 500px;
}

#nomeCompleto {
  display: flex;
}

#localizacao {
  display: flex;
}

#familia-conteiner {
  display: flex;
  flex-direction: column;
}

#conteiner-to-learn {
  display: flex;
}

#conteiner-geral {
  display: flex;
}

#conteudo-conteiner {
  margin-left: 50px;
}
