.trybewarts-login {
  display: flex;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  align-items: center;
  justify-content: space-between;
}

.trybewarts-header-logo {
  height: 80px;
}

main {
  display: flex;
  width: 675px;
}

#evaluation-form {
  display: flex;
  width: 675px;
}
